/* App Container */
.app-container {
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


/* App Content */
.app-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* General styling for the entire page */
body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0;
}

/* Styling for the title section */
.header {
  margin: 0; /* Remove default margin */
}

/* Styling for the title section */
.header .title {
  font-size: 4rem; 
  font-weight: bold; 
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  margin-top: 0; /* Removed margin-top */
  color: #383535; /* Changed text color to white */
  background-color: #dad604; /* Added background color */
}



/* Styling for the camera feed section */
.camera-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f5f3f3;
}

.camera-feed video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Styling for the start object detection button */
.button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Updated button styling */
.button-container button {
  background-color: #0074D9;
  color: #fff;
  border: none;
  padding: 20px 40px; /* Increased padding */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 30px; /* Slightly increased border-radius */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  text-transform: uppercase; /* Uppercase button text */
}

.button-container button:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Slightly increased scale on hover */
}

.button-container button:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1);
}


@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typeWriter {
  border-right: 2px solid;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40, end), blink 0.75s step-end infinite;
}